.large-12.columns
	.section-container.auto{:data => {'section' => true}} 
		%section
			%p.title{:data => {'section-title' => true}} 
				%a{:href=>"#panel1" } Wedding Details
			.content{:data => {'section-content' => true}}  
				%p 
					= render "admin/main"
		%section
			%p.title{:data => {'section-title' => true}}
				%a{:href=>"#panel2" } Crowdtilt Gifts
			.content{:data => {'section-content' => true}}  
				%p 
					- if @campaign 
						= render 'admin/campaign_details'
					- else
						%a.button.ct-create{:href=>"/campaigns/new" } 





