.large-12.columns	
	.panel
		%h1.fancy Matt and Clara's Wedding
		%p.subheader.fancy ~ August 3rd, 2013 ~
		.row
			.large-6.columns
				THE BRIDE
				.row
					.large-4.columns
						Clara Photo
					.large-6.columns
						Clara long description
			.large-6.columns
				THE GROOM
				.row
					.large-4.columns
						Matt Photo
					.large-6.columns
						Matt long description
		%br
		%br
		.row
			.large-4.columns
				%p Location  
				%p If you choose only the languages that you need, you'll help prevent slowness on your webpage.
			.large-4.columns
				%p Registrations 
				%p If you choose only the languages that you need, you'll help prevent slowness on your webpage.
			.large-4.columns
				%p Other Stuff 
				%p If you choose only the languages that you need, you'll help prevent slowness on your webpage.
		











