%h1 Create a new Campaign 
%p Set up a Crowdtilt Account
.ct-admin-verify
	=form_tag verify_admin_path, :method => :post do
		=text_field_tag(:name, nil, placeholder:'Full legal name')
		=text_field_tag(:DOB,nil, placeholder:'Date of birth')
		=text_field_tag(:phone_number,nil, placeholder:'Telephone number')
		=text_field_tag(:street_address,nil, placeholder:'Your street address')
		=text_field_tag(:postal_code,nil, placeholder:'Your postal code')
		=submit_tag 



