%nav.top-bar
	%ul.title-area
		%li.name
			%h1.fancy= link_to 'Matt and Clara\'s Wedding', root_path
		%li.toggle-topbar.menu-icon 
			%a{:href => '#'} 
				%span Menu
		%section.top-bar-section
			.centered
				%ul
					%li
						%a{:href => '/thing'} MATT & CLARA
					%li 
						%a{:href => '/thing'} WHEN/WHERE/HOW
					%li 
						%a{:href => '/thing'} PHOTOS
					%li 
						%a{:href => '/thing'} RSVP
					%li
						%a{:href => '/thing'} CONTACT